<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {# <link rel="shortcut icon" href="{{ package.homepage }}/img/favicon.svg"> #}

  <title>{% if page_title %}{{ page_title }} | {% endif %}{{ package.title }}</title>
  <meta property="og:title" content="{% if page_title %}{{ page_title }} | {% endif %}{{ package.title }}"/>
  <meta property="og:type" content="website"/>

  <meta property="og:description" content="{% if page_description %}{% else %}{{ package.description }}{% endif %}"/>
  <meta name="description" content="{% if page_description %}{% else %}{{ package.description }}{% endif %}"/>

  {# <meta property="og:image" content="{{ package.homepage }}/images/social.png"/>
  <meta property="og:image:alt" content="{{ package.title }} by {{ package.author }}"/>
  <meta name="twitter:image:alt" content="{{ package.title }} by {{ package.author }}"/>
  <meta name="twitter:card" content="summary_large_image"/> #}

  <link href="{{ global.baseUrl }}/{{ global.entry.styles|replace({'scss': 'css'}) }}" rel="stylesheet">

  {% if process.env.CONTENT == 'drafts' %}
  <meta name="robots" content="noindex,nofollow">
  {% endif %}
</head>
