
<nav class="{{ classes.nav }}">
  <span class="{{ classes.header }}">Guide</span>

  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="overview">Overview</a>
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="getting-started"><span class="{{ classes.number }}">01</span> Getting Started</a>
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="next-steps" target="_blank"><span class="{{ classes.number }}">02</span> Next Steps</a>
</nav>
